<section *ngIf="weathers">
  <div *ngFor="let weather of weathers; let i = index">
    <ng-container class="container py-3 h-100" *ngIf="i < 1">
      <div
        class="row d-flex justify-content-center mt-4"
        style="color: #282828"
      >
        <div class="col-md-9 col-lg-7 col-xl-5">
          <div class="card mb-4 gradient-custom" style="border-radius: 25px">
            <div class="card-body p-3 shadow-lg" style="border-radius: 25px">
              <div class="d-flex row justify-content-around ml-4 mb-0 pb-0">
                <div class="d-flex flex-column-reverse justify-content-center">
                  <h2 class="display-2">
                    <strong>{{ weathers[0].tempDay }}&deg;C</strong>
                  </h2>
                  <p class="dayOfTheWeek d-flex justify-content-center">
                    {{ weathers[0].dayOfTheWeek }}
                  </p>
                </div>
                <ng-container
                  *ngFor="let img of weahterMap | keyvalue"
                  class="todayWeather"
                >
                  <div *ngIf="weathers[0].main == img.key">
                    <img class="todayWeather" src="{{ img.value }}" />
                    <div class="dayOfTheWeek column justify-content-between">
                      <p class="d-flex justify-content-center">
                        Humidity: &nbsp;
                        <strong>{{ weathers[0].humidity }}&deg;C</strong>
                      </p>
                      <p class="d-flex justify-content-center">
                        SunRise: &nbsp;
                        <strong> {{ weathers[0].sunRise }}</strong>
                      </p>
                      <p class="d-flex justify-content-center">
                        SunSet:&nbsp;<strong> {{ weathers[0].sunSet }}</strong>
                      </p>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="row d-flex justify-content-center align-items-center h-100"
        style="color: #282828"
      >
        <div class="card mb-1 sizzer" style="border-radius: 25px">
          <div
            class="card-body p-4 shadow-lg sizzer"
            style="border-radius: 25px"
          >
            <div
              class="d-flex justify-content-around text-center mb-0 pb-2 pt-2"
            >
              <div class="flex-column">
                <p class="small">
                  <strong>{{ weathers[1].tempDay }}&deg;C</strong>
                </p>
                <div *ngFor="let img of weahterMap | keyvalue">
                  <img
                    *ngIf="weathers[1].main == img.key"
                    class="fas fa-2x mb-3"
                    src="{{ img.value }}"
                  />
                </div>
                <p class="mb-0">
                  <strong>{{ weathers[1].dayOfTheWeek }}</strong>
                </p>
              </div>

              <div class="flex-column">
                <p class="small">
                  <strong>{{ weathers[2].tempDay }}&deg;C</strong>
                </p>
                <div *ngFor="let img of weahterMap | keyvalue">
                  <img
                    *ngIf="weathers[2].main == img.key"
                    class="fas fa-2x mb-3"
                    src="{{ img.value }}"
                  />
                </div>
                <p class="mb-0">
                  <strong>{{ weathers[2].dayOfTheWeek }}</strong>
                </p>
              </div>

              <div class="flex-column">
                <p class="small">
                  <strong>{{ weathers[3].tempDay }}&deg;C</strong>
                </p>
                <div *ngFor="let img of weahterMap | keyvalue">
                  <img
                    *ngIf="weathers[3].main == img.key"
                    class="fas fa-2x mb-3"
                    src="{{ img.value }}"
                  />
                </div>
                <p class="mb-0">
                  <strong>{{ weathers[3].dayOfTheWeek }}</strong>
                </p>
              </div>

              <div class="flex-column">
                <p class="small">
                  <strong>{{ weathers[4].tempDay }}&deg;C</strong>
                </p>
                <div *ngFor="let img of weahterMap | keyvalue">
                  <img
                    *ngIf="weathers[4].main == img.key"
                    class="fas fa-2x mb-3"
                    src="{{ img.value }}"
                  />
                </div>
                <p class="mb-0">
                  <strong>{{ weathers[4].dayOfTheWeek }}</strong>
                </p>
              </div>

              <div class="flex-column">
                <p class="small">
                  <strong>{{ weathers[5].tempDay }}&deg;C</strong>
                </p>
                <div *ngFor="let img of weahterMap | keyvalue">
                  <img
                    *ngIf="weathers[5].main == img.key"
                    class="fas fa-2x mb-3"
                    src="{{ img.value }}"
                  />
                </div>
                <p class="mb-0">
                  <strong>{{ weathers[5].dayOfTheWeek }}</strong>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</section>
