<div class="container">
  <div class="row justify-content-around">
    <div
      class="card shadow-lg"
      style="width: 18rem"
      *ngFor="let hotel of hotels"
    >
      <div class="fit-img" *ngFor="let imgHotel of hotelsImage | keyvalue">
        <!-- <p>{{ hotel.url }}</p> -->
        <!-- <p>{{ imgHotel.key }}</p> -->

        <img
          *ngIf="hotel.url == imgHotel.key"
          src="{{ imgHotel.value }}"
          class="card-img-top"
          alt="..."
        />
      </div>
      <div class="card-body">
        <div>
          <h5 class="card-title">{{ hotel.name }}</h5>
          <span>{{ hotel.roomName }} room</span>
          <div class="scroll">
            <ul class="card-text" *ngFor="let detail of hotel.formatted">
              <li class="">{{ detail }}</li>
            </ul>
          </div>
        </div>
        <div class="d-flex align-content-end">
          <br />
          <span>
            <strong> Price: {{ hotel.price }} zł</strong>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
